html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    font-family: 'Inter', sans-serif;
}

#main-image {
    width :100%;
    height:auto;
    object-fit: contain;
    margin-top: 80px;
}

.navigation-bar {
    position: fixed;
    background-color: #fffdfa;
    width: 100%;
    padding-top: 20px;
    z-index: 5;
}

.navigation-element {
    position: fixed;
    display: flex;
    flex-direction: column;
    right:-250px;
    top: 0px;
    width:200px;
    height:100vh;
    background-color:#fffdfa;
    padding: 20px;
    padding-top: 130px;
    padding-right: 0px;
    transition: all 0.5s ease;
}

#menu-btn, #close-btn {
    position : fixed;
    right: 10px;
    cursor: pointer;
    padding-right: 10px;
}

#sidebar {
    appearance: none;
}

#menu-btn {
    top:40px;
}

#close-btn {
    z-index: 10;
    top: 40px;
    right: -250px;
    transition: all 0.5s ease;
}

#sidebar:checked ~ .navigation-element {
    right:0px;
    z-index: 11;
}

#sidebar:checked ~ #close-btn {
    pointer-events: auto;
    display: block;
    right: 0px;
    z-index: 12;
}

#sidebar:checked ~ #layer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    margin: 0px;

}

.navigation-element > button {
    border:none;
    background-color:#fffdfa;
    text-align: left;
    margin-bottom: 25px;
    font-size: 1.1rem;
}

.read-more {
    width: 200px;
    color: white;
    background-color: #f15e50;
    padding: 10px;
    border: none;
}

.center-right {
    background-color: #00001a;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 0px;
    margin-top: 50px;
}

.new {
    color: #e9ab53;
    margin-top: 0px;
    margin-bottom: 0px;
}

.link, .text {
    color: white;
}

.link {
    padding-top: 20px;
    font-weight: 700;
}

.text {
    font-size: 0.95rem;
    opacity: 0.8;
}

.center-right a {
    text-decoration: none;
}

.link-box{
    border-bottom: 1px solid white;
    padding-top: 30px;
    padding-bottom: 20px;
}

#last-link-box {
    border-bottom: none;
}

.bottom-1, .bottom-2, .bottom-3 {
    display: flex;
    height: 130px;
    margin-top: 30px;
}

.bottom-right {
    height: auto;
    overflow: auto;
}

.bottom-left img{
    height:100%;
    padding-right: 2%;
    width: auto;
}

.bottom h4 {
    color: #c5c6ce;
    font-size: 1.5rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.bottom h3 {
    font-size: 0.9rem;
    font-weight: 800;
}

.bottom p {
    opacity: 0.9;
    height: auto;
}

.center-left-bottom-left h4 {
    font-weight: 800;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

#evolution {
    color: #5d5f79;
    margin-bottom: 20px;
}

button:hover, a:hover {
    cursor: pointer;
    color: #e9ab53;
}

.bottom h3:hover {
    cursor: pointer;
    color: #f15e50;
}

#read-more:hover {
    background-color: #00001a;
    color :white;
}


@media (min-width:729px) {

    #menu-btn, #close-btn {
        display: none;
    }

    .navigation-bar {
        display: flex;
        height: auto;
        padding-top: 70px;
        width: 100vw;
    }

    .navigation-element {
        right: 0px;
        flex-direction: row;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
        top:45px;
        height: auto;
        width: auto;
    }

    .navigation-element > button {
        margin-left: 20px;
    }

    .navigation-bar img {
        margin-bottom: 20px;
    }

    .center-box{
        display: flex;
    }

    .center-left{
        padding-right: 20px;
    }

    .center-left-bottom {
        display: flex;
    }

    .center-left-bottom-left {
        flex-basis: 50%;
        width: 50%;
        padding-right: 20px;
    }

    .center-left-bottom-right {
        flex-basis: 50%;
        width: 50%;
    }

    .center-right {
        padding-top: 100px;
    }

    .bottom {
        display: flex;
        width: 100%;
    }

    .bottom-right {
        padding-right: 10px;
        padding-left: 10px;
        margin-right: 10px;
    }

    .bottom h3{
        font-size: 1.1rem;
    }
    
    .bottom h4 {
        font-size: 1.9rem;
    }

    .bottom-left img {
        padding-right: 20px;
    }

    .new {
        margin-top: 20px;
        font-size: 2rem;
    }

}